@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body * {
    font-family: 'Montserrat', sans-serif;
}



.logo-text {
    font-family: 'Monoton', cursive;
    font-weight: bolder;
    color: #4e3ccc;
}

label {
    color: #4e3ccc !important;
}

.valid-feedback {
    color: #35dc49;
    display: none;
    font-size: .875em;
    margin-top: .25rem;
    width: 100%;
}

.invalid-feedback,.valid-feedback {
    font-weight: bolder;
}
